<div class="fantasy-teams">
	<h1><%= @fantasy_team.owner %>'s Team</h1>

	<div class="col-md-5 col-md-offset-1">
		<h2>Picks</h2>
		<%= render partial: 'picks_table' %>
	</div>

	<div class="col-md-4 col-md-offset-1">
		<h2>Roster</h2>
		<%= render partial: 'roster_table' %>
	</div>
</div>