/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import "home.scss";
@import "positions.scss";
@import "fantasy_teams.scss";
@import "boards.scss";

.navbar .current-pick {
	font-size: 1.2em;
	margin-right: 20px;
}

body { padding-top: 54px; }

.sidebar {
	// text-align: center;
	background-color: #aaa;
	border-right: 1px solid #aaa;
	padding: 0;
	height: calc(100% - 54px);
	overflow: scroll;
	position: fixed;

	.current {
		background-color: yellow;
	}
}

.content {
	margin-left: 240px;
}

.draft-order {
	margin-bottom: 0;

	.list-group-item {
		min-width: 200px;
		width: 100%;
		text-align: left;
		font-size: 1.2em;

		.pick-number {
			float: left;
			margin-left: -46px;
		}

		span.owner {
			float: right;
			margin-top: 4px;
			margin-right: -42px;
			font-size: 0.7em;
			color: black;
		}

		&.ten .pick-number {
			// margin-right: 15px;
		}

		padding-left: 56px;
	}

	.selected {
		// background-color: black;
		// color: #ccc;
		padding-right: 50px;

		&:hover {
			cursor: default;
		}
	}

}

.navbar {
	margin-bottom: 0;
}