/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require sweet-alert
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import "home.scss";
@import "positions.scss";
@import "fantasy_teams.scss";
@import "boards.scss";
@import "leagues.scss";

.navbar {

	padding-right: 20px;

	.current-pick {
		font-size: 1.2em;
		margin-right: 20px;
	}
}

body { padding-top: 54px; }

.sidebar {
	// text-align: center;
	background-color: #aaa;
	border-right: 1px solid #aaa;
	padding: 0;
	height: calc(100% - 54px);
	overflow: scroll;
	position: fixed;

	.list-group {
		cursor: default;

		.list-group-item {
			cursor: default;
		}
	}

	.current {
		background-color: yellow;
	}

	.keeper, .keeper:hover {
		background: #999;
		color: #eee
	}
}

.content {
	margin-left: 240px;

	.alert {
		margin-top: 8px;
		width: auto;
		display: inline-block;
		position: fixed;
		right: 10px;
		z-index: 1000;

		.close {
			margin-left: 10px;
			position: relative;
			top: -2px;
		}
	}
}

button.undo:focus {
	outline: none;
}

.draft-order {
	margin-bottom: 0;

	.list-group-item {
		min-width: 200px;
		width: 100%;
		text-align: left;
		font-size: 1.2em;

		.pick-number {
			float: left;
			margin-left: -46px;
		}

		span.owner {
			float: right;
			margin-top: 4px;
			margin-right: -42px;
			font-size: 0.7em;
			color: black;
		}

		padding-left: 56px;
	}

	.selected {
		// background-color: black;
		// color: #ccc;
		padding-right: 50px;

		&:hover {
			cursor: default;
		}
	}

}

.navbar {
	margin-bottom: 0;
}

// td:hover {
//    cursor: default;
// }

.adp, .positions, .points {
	.player:hover {
		background-color: #fafafa;
		cursor: pointer;

		&.picked {
			background-color: #333;
			color: #ccc;
			cursor: default;
		}
	}
}

.draft {
	.player:hover {
		cursor: default;
	}
}

.player {
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}

.board:not(.draft) {
	.player.picked {
		background-color: #333;
		color: #ccc;
	}

	.player.picked:hover {
		background-color: #333;
		cursor: default;
	}
}