// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.qb {
	background-color: #F2A29D;
}

.rb {
	background-color: #B8CAEA;
}

.wr {
	background-color: #9DF2A7;
}

.te {
	background-color: #F2E09D;
}

.def {
	background-color: #CDBE70;
}

.k {
	background-color: #E99DF2;
}

h1 {
	text-align: center;
}