// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li.qb {
	background-color: blue;
}

li.rb {
	background-color: red;
}

li.wr {
	background-color: green;
}

li.te {
	background-color: yellow;
}

li.def {
	background-color: white;
}

li.k {
	background-color: pink;
}