// Place all the styles related to the Leagues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.leagues.index {
	h1 {
		margin-bottom: 20px;
	}

	table td {
		font-size: 1.5em;
	}

	.no-leagues {
		text-align: center;
		font-size: 1.2em;
	}
}