// Place all the styles related to the Positions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.positions {
	.selected {
		background-color: #333;
		color: #ccc;

		&:hover {
			cursor: default;
		}
	}

	th, tr, tr th {
		text-align: center;
		vertical-align: middle;
	}

	th.highlighted {
		background-color: yellow;
	}
}

.player-list {
	text-align: center;
	.list-group-item {
		min-width: 200px;

		&:hover {
			background-color: #fff;
			color: black;
		}

		&.selected {
			background-color: #333;
			color: #ccc;

			&:hover {
				cursor: default;
			}
		}
	}
}
